---
layout: base
title: Top
---
<section class="toppage-about">
  <p>Making software.</p>
</section>

<section class="division" aria-labelledby="text-div">
  <header>
    <h2 id="text-div">Text Division</h2>
    <p>Reading, writing, building.</p>
  </header>
  <article>
    <h3>shelff</h3>
    <p>A PDF reading app for iPad that gives users full control over their files, with no lock-in. <a href="<%= lang_path('/shelff') %>">Learn more →</a></p>
  </article>
  <article>
    <h3>isola</h3>
    <p>A simple static site generator for Rubyists. This very site is built with Isola. <%= include 'gh_link', repo: 'isola' %></p>
  </article>
  <article>
    <h3>gepub</h3>
    <p>An EPUB library for Ruby. <%= include 'gh_link', repo: 'gepub' %></p>
  </article>
</section>

<section class="division" aria-labelledby="lamp-in-daylight-div">
  <header>
    <h2 id="lamp-in-daylight-div">Daylight Lantern Division</h2>
    <p>Glowing softly, even in broad daylight.</p>
  </header>
  <article>
    <h3>raftik</h3>
    <p>A small, simple WASM runtime. Work in progress. <%= include 'gh_link', repo: 'raftik' %></p>
  </article>
  <article>
    <h3>Playdate Heart Sutra</h3>
    <p>The Heart Sutra, operated by cranking a Playdate. Work in progress. <%= include 'gh_link', repo: 'playdate-hannya' %></p>
  </article>
</section>
