<html lang="<%= page[:lang] %>"> 
  <head>
    <%= include "head" %>
  </head>
  <body>
    <header id="main-header">
      <%= include page[:header] || 'header' %>
    </header>
    <main>
      <%= content %>
    </main>
    <footer>
      <%= include "footer" %>
    </footer>
  </body>
</html>
